---
---

$rainbow: 
#000,
#000 12.5%,
#735023 12.5%,
#735023 25%,
#D22D1F 25%,
#D22D1F 37.5%,
#F19035 37.5%,
#F19035 50%,
#FCEC4F 50%,
#FCEC4F 62.5%,
#357D33 62.5%,
#357D33 75%,
#0F53F5 75%,
#0F53F5 87.5%,
#6B1B81 87.5%,
#6B1B81 100%;

// start content
*{
	padding: 0;
	margin: 0;
	line-height: 1;
	box-sizing: border-box;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
  }
.clearfix { display: inline-block; }

body {
	font-family: Montserrat, Helvetica Neue, sans-serif;
	color: #333; 
	overflow: auto;

	font-size: 16px;
	
	@media screen and (min-width: 601px){
		font-size: 17px;
	}
	@media screen and (min-width: 801px){
		font-size: 18px;
	}
	@media screen and (min-width: 901px){
		font-size: 19px;
	}
	@media screen and (min-width: 1001px){
		font-size: 20px;
	}
}

header#top-header{		
	padding-top: 6em;
	box-shadow: 0px 0px 10px rgba(0,0,0,.3);
	background: linear-gradient($rainbow);
	article{		
		background: white;		
		padding: 1.5em 2em;
		margin: 0 auto;				
		z-index: 2;
		position: relative;
		width: 94%;
		max-width: 613px;				
		p{
			line-height: 1.4em;
			margin-bottom: 1.4em;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

#collage-images{	
	display: none;
	img{
		position: absolute;	
		opacity: 0;			
		&#fuck-columbus{						
			top: 0;
			right: 0;
			width: 98%;
			height: 58%;
			animation: fadein 1s;
			animation-fill-mode: forwards;
		}
		&#planned-parenthood{			
			top: 11%;
			left: 0;
			width: 49%;
			height: 51%;
			animation: fadein 2s;
			animation-fill-mode: forwards;
		}
		&#team-everybody{			
			bottom: 0;
			right: 0;
			width: 48%;
			height: 41%;
			animation: fadein 3s;
			animation-fill-mode: forwards;
		}
		&#love-wins{			
			top: 25%;
			left: 30%;
			width: 40%;
			height: 53%;
			animation: fadein 3.9s;
			animation-fill-mode: forwards;
		}
		&#black-lives-matter{			
			bottom: 0;
			left: 19%;
			width: 38%;
			height: 39%;
			animation: fadein 4.7s;
			animation-fill-mode: forwards;
		}
		&#people-over-profit{
			right: 0;
			top: 14%;
			width: 35%;
			height: 56%;
			animation: fadein 5.3s;
			animation-fill-mode: forwards;
		}
	}	
}
#face{	
	max-width: 250px;    
    position: relative;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (min-width: 768px) and (min-height: 768px){
	div#content{
		padding-top: 100vh;
	}
	#collage-images{
		display: block;
	}
	header#top-header{
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	#face{
		position: absolute;
		left: -3%;
		bottom: 0;
		width: 26%;
		min-width: 280px;
		height: auto;	
		max-width: none;
	}
	header#top-header{
		article{
			opacity: 0;
			animation: slowfadein 9.0s;
			animation-fill-mode: forwards;
		}
	}
}


@keyframes slowfadein {
	0% {	
		opacity: 0;
	}
	60%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadein {
	0% {	
		opacity: 0;
	}
	90%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

section.chapter{
	width: 86%;
	max-width: 1050px;
	margin: 90vh auto;
	header{
		text-align: center;		
		h2{					
			font-size: 3em;
			@media screen and (min-width: 768px){
				font-size: 7em;
			}	
			line-height: 1em;
			font-weight: 900;																			
			span{
				display: inline-block;
				background: linear-gradient($rainbow);	
				-webkit-background-clip: text;			
				-webkit-text-fill-color: transparent;
			}			
		}
	}
	article{		
		max-width: 666px;
		margin: 4em auto;
		font-size: .9em;		
		small{			
			background: #ddd;
			padding: 1em;
			display: inherit;
		}
		> *{
			line-height: 1.6rem;
			margin-bottom: 1.6rem;
		}
		li{
			line-height: 1.6rem;
			margin-bottom: 1rem;
		}
		h3{
			margin-top: 3em;
			opacity: 0.3;
			font-weight: 300;
			font-size: 1.5em;
			margin-bottom: 1.4rem;
		}
	}
}

section.outline{
	margin-top: 8em;
	margin-bottom: 12em;
	.container{
		width: 80%;
		max-width: 666px;
		margin: 4em auto;
	}
	h2{
		margin-bottom: 4rem;
		line-height: 1.3em;
		opacity: 0.25;
	}
	.toc-chapter{
		vertical-align: middle;
		max-width: 500px;
		margin: 2em auto;
		display: block;
		color: #333;
		text-decoration: none;
		.toc-chapter-number{			
			display: inline-block;
			position: relative;
			vertical-align: middle;
			z-index: 2;
			font-size: 2em;
			@media screen and (min-width: 501px){
				font-size: 4em;
				&:before{
					z-index: -1;
					content: " ";
					display: inline-block;
					position: absolute;
					left: 10px;
					top: 5px;
					width: 1em;
					height: 1em;
					border-radius: 50%;
					background: #ddd;
				}	
			}
		}
		.toc-chapter-title{			
			background: black;
			padding-left: 5rem;
			color: white;
			padding: 1em 1.5em;	
			vertical-align: middle;	
			font-size: 1.1em;
			margin-top: 10px;
			@media screen and (min-width: 501px){
				padding-left: 4em;
				display: inline-block;
			}
		}
		&:hover{
			.toc-chapter-title{
				background: linear-gradient(90deg, $rainbow);
			}
		}
	}
}	

.image-wrap{
	display: block;
	text-decoration: none;
	margin-bottom: 3em!important;
	filter: grayscale(80%);
	&:hover{
		filter: grayscale(0%);
	}
	img{
		max-width: 100%;
	}
	p{
		margin-top: .25em;
		font-size: .9em;
		opacity: .4;
		line-height: 1.5em;
		color: #333;
		text-align: center;
	}
}