<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}
	
	<body{% if page.slug %} class="{{ page.slug }}"{% endif %}>
		<div class="wrapper">
			<div class="container">	
				{{ content }}
				<footer>
					<ul class="meta inline-list">
						<li><a href="mailto:heylorenzut@gmail.com">email me</a></li>
					</ul>
				</footer>
				<div id="face">
					<img src="img/loren.png"/>
				</div>
			</div>
					
		</div>
		<div id="weerd-background">
			<img src="img/weerd-bg.jpg"/>
		</div>				
	</body>
</html>

