<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}
	
	<body{% if page.slug %} class="{{ page.slug }}"{% endif %}>
		<div class="wrapper">				

			<nav>
				<p><a href="/">lorenzut</a></p>
			</nav>

			<div class="content">
				{{ content }}
			</div>
			
			
			<footer>
				<br/>
				<br/>
				<br/>
				<br/>
				<p>
					<strong>All done.</strong><br/>
					<a href="https://emailoctopus.com/lists/7c483e37-4042-11ea-be00-06b4694bee2a/forms/subscribe">click here</a> to get email updates about my world-saving efforts. and <a href="mailto:patrick.lorenzut@gmail.com">click here</a> to start a conversation with me, <em>especially</em> if you feel like helping.
				</p>				
				
				<img src="/img/patrick-in-nepal.JPG" width="400"/>
				<img src="/img/patrick-andy.JPG" width="400"/>
				<img src="/img/patrick-bubbles.JPG" width="400"/>
				<img src="/img/patrick-frisbee.JPG" width="400"/>
				<img src="/img/patrick-capers.JPG" width="400"/>
				<img src="/img/patrick-dino.JPG" width="400"/>
			</footer>	
												
		</div>				
	</body>
</html>

